node_modules
build
coverage
.vscode
.DS_STORE
.env
tmp
.eslintcache
package-lock.json

file.dump

.keys/*
!.keys/.gitkeep

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml