@layout('emails/_layout')
@section('content')
  
  <mj-text>Hi there,</mj-text>

  <mj-text>
    your password for hajdenpun.com has been successfully reset. You can now log back into account, update your profile and good luck finding your new employees!
  </mj-text>

  <mj-section padding="10px 0">
    <mj-column>
      @!component('components/button', {
        text: 'Sign In',
        link: args.url
      })
    </mj-column>
  </mj-section>
@endsection